.datepicker {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  color: white;
  cursor: auto;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}